<div class="row d-flex align-items-center justify-content-center vh-100">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mx-auto">
    <h2 class="text-center fontTitle">INGRESAR PRESUPUESTO</h2>

    <div class="card mt-2 sombra espacidado">
      <div class="card-body ">

        <div *ngIf="valorincorrecto == true" class="text-center mb-3 alert alert-danger" role="alert">
          El Presupuesto debe ser mayor a 0
        </div>

        <input type="tel" [(ngModel)]="cantidad" class="form-control form-control-lg"  placeholder="Presupuesto">

        <div class="d-grid gap-2 mt-4">
          <button type="button" class="btn btn-outline-success" (click)="agregar()">Enviar Presupuesto</button>
        </div>
        
      </div>
    </div>
  </div>
</div>